html{
    font-size:62.5%;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    font-size: 1.6rem;
}

.page-header {
    position: absolute;
    padding: 5px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.page-header.nav-opened{
    background-color: #ffffff;
    box-shadow: -1px 9px 19px -8px rgba(0,0,0,0.5);
}

.page-header.nav-opened .navigation-menu {
    display: block;
}

.page-nav .navigation-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-header .page-nav .hamburger{
    position: absolute;
    top: 0px;
    right: 0px;
}

.page-header .navigation-menu{
    display: none;
}


.page-header .page-nav .navigation-menu li{
    border-bottom:1px solid #f5f7f7;
    text-align: center;
    padding: 9px 0;
}

.page-header .page-nav .navigation-menu li:last-child{
    border: none;
}

.page-header .page-nav .navigation-menu li a{
    color: #333;
    text-decoration: none;
    font-size: 1.4rem;
}



/*========HAMBURGER========*/
.button_container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-10px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -3px);
}

/*==END===HAMBURGER========*/


.main-section .video-element{
    width:100%;
}

.main-section .main-content{
    position: absolute;
    width: 100%;
    margin-top: 5em;
    top: 0;
    left: 0;
    text-align: center;
    font-weight:bold;
    background: rgba(255,255,255,0.5);
    color: #565656;
}

.main-section .main-content h1{
    padding: 0.3em 0.3em 0 0.3em;
}

.main-section .main-content button{
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.sm-column-reverse {
    flex-direction: column-reverse;
}

@media (max-width: 700px){
    .main-section{
        background-size: cover;
        background-image: url("../images/video.png");
        background-position: center center;
    }

    .main-section .video-element{
        visibility: hidden;
        object-fit: contain;
    }
}

.header{
    padding: 1em;
    width: 100%;
    font-size: 3rem;
    margin: 0;
}

.healthy-header{
    background-color: #f5df7b;
}

.two-columns-rows .row .text{
    padding: 2em;
}

.two-columns-rows img{
    width: 100%;
}

.two-columns-rows p, .smoothie-gallery p{
    text-align: justify;
}

.smoothie-experience-header{
    background-color: #7b91f5;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smoothie-gallery{
    background-color: #dde3fe;
}

.smoothie-gallery p{
    padding: 3em;
}

.carousel{
    padding-right: 0;
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6{
    background: url('../images/health_icons.png') no-repeat;
    background-position: -220px -190px;
    height: 165px;
    width: 165px;
    border: 1px solid black;
}

