html{
    font-size:62.5%;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    font-size: 1.6rem;
}

.page-header {
    position: absolute;
    padding: 5px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.page-header.nav-opened{
    background-color: #ffffff;
    box-shadow: -1px 9px 19px -8px rgba(0,0,0,0.5);
}

.page-header.nav-opened .navigation-menu {
    display: block;
}

.page-nav .navigation-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-header .page-nav .hamburger{
    position: absolute;
    top: 0px;
    right: 0px;
}

.page-header .navigation-menu{
    display: none;
}


.page-header .page-nav .navigation-menu li{
    border-bottom:1px solid #f5f7f7;
    text-align: center;
    padding: 9px 0;
}

.page-header .page-nav .navigation-menu li:last-child{
    border: none;
}

.page-header .page-nav .navigation-menu li a{
    color: #333;
    text-decoration: none;
    font-size: 1.4rem;
}



/*========HAMBURGER========*/
.button_container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-10px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -3px);
}

/*==END===HAMBURGER========*/


.main-section .video-element{
    width:100%;
}

.main-section .main-content{
    position: absolute;
    width: 100%;
    margin-top: 5em;
    top: 0;
    left: 0;
    text-align: center;
    font-weight:bold;
    background: rgba(255,255,255,0.5);
    color: #565656;
}

.main-section .main-content h1{
    padding: 0.3em 0.3em 0 0.3em;
}

.main-section .main-content button{
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.sm-column-reverse {
    flex-direction: column-reverse;
}

@media (max-width: 700px){
    .main-section{
        background-size: cover;
        background-image: url("../images/video.png");
        background-position: center center;
    }

    .main-section .video-element{
        visibility: hidden;
        object-fit: contain;
    }
}

.header{
    padding: 1em;
    width: 100%;
    font-size: 3rem;
    margin: 0;
}

.healthy-header{
    background-color: #f5df7b;
}

.two-columns-rows .row .text{
    padding: 2em;
}

.two-columns-rows img{
    width: 100%;
}

.two-columns-rows p, .smoothie-gallery p{
    text-align: justify;
}

.smoothie-experience-header{
    background-color: #7b91f5;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smoothie-gallery{
    background-color: #dde3fe;
}

.smoothie-gallery p{
    padding: 3em;
}

.carousel{
    padding-right: 0;
}
.numbers-header{
    border-top: 10px dotted #a6fc93;
    margin-top: 2em;
    color: #565656;
    text-align: center;
    box-shadow: -1px 9px 19px -8px rgba(0,0,0,0.5);
}

.numbers{
    background-color: #e3fedd;
}

.numbers .row{
    border-top: 1px solid #c8e482;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid #c8e482;
}

.numbers .row div{
    padding: 2em;
}

.number-count div{
    margin: auto;
}
.count p{
    text-align: center;
    color: #565656;
}

.count p:first-child{
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6{
    background: url('../images/health_icons.png') no-repeat;
    height: 165px;
    width: 165px;
    border: 1px solid #c8e482;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -8px rgba(0,0,0,0.75);
}

.icon1 {
    background-position: -220px -190px;
}

.icon2 {
    background-position: -16px 0px;
}

.icon3 {
    background-position: -415px 0px;
}

.icon4 {
    background-position: -418px -376px;
}

.icon5 {
    background-position: -16px -376px;
}

.icon6 {
    background-position: -218px -376px;
}

.container.calculator{
    border: 1px solid #ecc313;
    padding: 1em;
}

.price-calculator>.form-item{
    text-align: center;
    margin-top:1em;
    border-top:1px dashed #ecc313;
    padding-top: 1em;
}

.price-calculator>.form-item:first-child{
    border: none;
    padding: 0;
    margin: 0;
}


.item-label{
    font-size: 2em;
}

.kcal-price-selector{
    margin: 4rem 0;
}

.kcal-price-selector>button, .checkbox-radio-options>div>button{
    background: none;
    border: 0;
}

.kcal-price-selector>button>span, .checkbox-radio-options>div>button>span {
    width: 25px;
    display: inline-block;
    height: 25px;
    border-radius: 25px;
    background: #efeeee;
    border: 2px solid #d6d6d6;
    margin-bottom: -0.4em;
    transition: all .3s ease;
}

.kcal-price-selector>button.active>span,
.checkbox-radio-options>div.active>button>span{
    background: #ecc313;
    border-color: #1a1a17;
}

.checkbox-radio-options.radio div {
    display: inline-block;
}

.checkbox-radio-options>div>button>p{
    display: inline-block;
}

.form-item.select select{
    background: #efeeee;
    border: 2px solid #d6d6d6;
    padding: 0.5em 2em;
}

.form-item.select select option{
    text-align:center;
}

.form-item.summary div{
    text-align:right;
}
.form-item.summary div.total{
    font-size: 2em;
}


